node_modules
.tools
.vscode
*.code-workspace
.next
out
dist
.next-dev.log
.next-dev.err.log
.env*
!.env.example
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.tsbuildinfo
*.rar
*.zip
*.7z
.DS_Store
